<div class="container-fluid mt-2">
  <h2 class="text-center">Paises</h2>
<div *ngFor = "let pais of paises">
  <div>
    {{pais.id}}
  </div>
  <div>
    {{pais.name}}
  </div>
  <div>
    <img 
    class="card-img-top"
    src="{{pais.flag}}"
    alt="{{pais.name}}"
    (click)="onSelected(pais)"/>
  </div>
</div>
</div>

<div>
  <p>el país más antiguo del listado es Portugal y fue conformado en 1143</p>
</div>

<h1>Detalle</h1> <p>(haz click en la bandera) </p>
<div class="selected-pais rounded" *ngIf="selected">
      <app-pais-detail [paisDetail]="selectedPais"></app-pais-detail>
</div>
